{% extends "base.html" %}

{% block title %}Book: {{ book.title }}{% endblock %}

{% block leftsidebar %}<h1>Book Info</h1>
<div>
    <b>Language</b>: {{ book.language }}
</div>
{% if book.bookseries_set.all.count %}<div><b>Series</b>:<ul>{% for series in book.bookseries_set.all %}
    <li><a href="/series/{{ series.series.id}}">{{ series.series.name }}</a> (#{{ series.number }})</li>{% endfor %}
</ul></div>{% endif %}
{% if tags %}<div><b>Tags</b>: <ul>{% for tag in tags %}
    <li><a href="/tag/{{ tag.id }}">{{ tag.name }}</a></li>{% endfor %}
</ul></div>{% endif %}
<div><b>Download</b>: <a href="/file/{{ book.id }}">{{ book.format.name }}</a></div>
{% endblock %}

{% block body %}<h1>{{ book.title }}</h1>
<p>by {% for author in authors %}{% if not forloop.first %}, {% endif %}<a href="/author/{{ author.id }}">{{ author.name }}</a>{% endfor %}</p>
{% if book.annotation %}<h2>Annotation</h2><p>{{ book.annotation }}</p>{% endif %}
{% endblock %}

<!--
  vim:ts=4:sw=4:et:filetype=htmldjango
  -->
